@page
@model Super_Mega_Desk.Pages.Desks.Rush_ExplanationModel
@{
    ViewData["Title"] = "Rush_Explanation";
}

<h1>Rush Explanation</h1>

    <table>
        <tbody>
            <tr>
                <td style="text-align: center; vertical-align: middle; background-color: #008080;" rowspan="2"><span style="color: #ffffff;"><strong>Extra Costs</strong></span></td>
                <th style="text-align: center; vertical-align: middle; color: #fff; background-color: #008080;" colspan="3">
                    Size of Desk (in<sup>2</sup>)
                </th>
            </tr>
            <tr>
                <th>less than 1000</th>
                <th>1000 to&nbsp;2000</th>
                <th>&nbsp;greater than 2000</th>
            </tr>
            <tr>
                <th>3 Day</th>
                <td>$ 60</td>
                <td>$ 70</td>
                <td>$ 80</td>
            </tr>
            <tr>
                <th>5 Day</th>
                <td>$ 40</td>
                <td>$ 50</td>
                <td>$ 60</td>
            </tr>
            <tr>
                <th>7 Day</th>
                <td>$ 30</td>
                <td>$ 35</td>
                <td>$ 40</td>
            </tr>
            <tr>
                <th>14 Day</th>
                <td>$ 0</td>
                <td>$ 0</td>
                <td>$ 0</td>
            </tr>
        </tbody>
</table>
