@page
@model Super_Mega_Desk.Pages.Desks.SplashModel
@{
    ViewData["Title"] = "Splash";
}

<h1>Super Mega Desk</h1>
<div margin="20em " width=" 50%" height="  25%">
    <a asp-page="/Desks/Index"> View Desk Orders</a>
    
</div>
<div margin="20em " width=" 50%" height="25%">
    <a asp-page="/Desks/Create">Order A Desk</a>

</div>